debian:
  clonefrom: vbox_basebox_debian
  deploy: true
  minion:
    master: 172.28.128.128
  password: vagrant
  power_on: true
  provider: virtualbox-config
  script: bootstrap-salt
  script_args: -n
  ssh_username: vagrant
