name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run bash-environment-manager      
      run: |
        sudo bash .repo/mock_vagrant.sh
        sudo bash .repo/download_python_environment_manager.sh
        cd /vagrant; sudo su vagrant -c "sudo make conda"
